.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**/*
!src/settings/settings.css
!src/settings/settings.js
!src/sidebar/sidebar.css
!src/sidebar/sidebar.js
!node_modules/vscode-codicons/dist/codicon.ttf
!node_modules/vscode-codicons/dist/codicon.css
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
