body {
	color: #c8c8c8;
	font-family: "Roboto", sans-serif;
	margin: 8px;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 40px);
}
label {
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}
select:focus {
	outline: none;
}
textarea,
select {
	background-color: #3c3c3c;
	border: 1px solid #3c3c3c;
	color: #c8c8c8;
	font-size: 14px;
	/* padding: 6px 6px; */
	/* margin: 6px 0; */
	border-radius: 4px;
	outline: none;
	width: 100%;
}
select {
	height: 32px;
	font-size: 16px;
	width: 175px;
}
textarea:focus {
	outline: none;
}
span[contenteditable="true"] {
	background-color: #3c3c3c;
	border: 1px solid #3c3c3c;
	color: #c8c8c8;
	font-size: 18px;
	border-radius: 4px;
	outline: none;
}
button {
	background-color: #569cd6;
	border: none;
	color: white;
	/* padding: 6px 6px; */
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	margin: 12px 0px;
	cursor: pointer;
	border-radius: 4px;
	align-self: flex-end;
}
button:focus {
	outline: none;
}
button:hover {
	background-color: #4080b6;
}
.inline-container {
	display: flex;
	align-items: center;
}
