body {
	color: #c8c8c8;
	font-family: "Roboto", sans-serif;
	margin: 8px;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 40px);
}
.tabs-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}

.tab-container {
	position: absolute;
	height: 100%;
	width: 100%;
}

.tab-container * {
	margin: 5px;
}

.inline-container {
	display: flex;
	align-items: center;
}
label {
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}
select:focus {
	outline: none;
}
textarea,
select {
	background-color: #3c3c3c;
	border: 1px solid #3c3c3c;
	color: #c8c8c8;
	font-size: 14px;
	border-radius: 4px;
	outline: none;
	width: 100%;
}
select {
	height: 32px;
	font-size: 16px;
	width: 175px;
}
textarea:focus {
	outline: none;
}
span[contenteditable="true"] {
	background-color: #3c3c3c;
	border: 1px solid #3c3c3c;
	color: #c8c8c8;
	font-size: 18px;
	border-radius: 4px;
	outline: none;
}
button {
	background-color: #569cd6;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	cursor: pointer;
	border-radius: 4px;
	align-self: flex-end;
}
button:focus {
	outline: none;
}
button:hover {
	background-color: #4080b6;
}

#task-tab,
#question-tab {
	opacity: 0;
	pointer-events: none;
}

#response-label {
	margin-top: 30px;
}
#response-area {
	height: 50%;
}

.body-loaded #task-tab,
.body-loaded #question-tab {
	transition: opacity 0.2s ease;
}

#task-tab.show-component,
#question-tab.show-component {
	opacity: 1;
	pointer-events: auto;
}

#question-tab:not(.show-component) ~ #task-tab {
	opacity: 1;
	pointer-events: auto;
}

.user-input {
	height: 20%;
}

#progress-container {
	width: 100%;
	height: 60%;
	border-radius: 4px;
	margin-top: 20px;
}

.loader {
	margin-right: 10px;
	border: 4px solid #3c3c3c;
	border-top: 4px solid #3498db;
	border-right: 4px solid #3498db;
	border-bottom: 4px solid #3498db;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 1s cubic-bezier(1, 0.5, 0.5, 0.5) infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#progress-bar {
	width: 100%;
	height: 20px;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	border-radius: 4px;
}

#progress-bar::-webkit-progress-bar {
	background-color: #3c3c3c;
	border-radius: 4px;
}

#progress-bar::-webkit-progress-value {
	background-color: #3498db;
	border-radius: 4px;
}
#progress-bar::-moz-progress-bar {
	background-color: #3498db;
	border-radius: 4px;
}
