body {
	color: #c8c8c8;
	font-family: "Roboto", sans-serif;
	margin: 8px;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 40px);
}
label {
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}
select:focus {
	outline: none;
}
textarea,
select {
	background-color: #3c3c3c;
	border: 1px solid #3c3c3c;
	color: #c8c8c8;
	font-size: 14px;
	/* padding: 6px 6px; */
	/* margin: 6px 0; */
	border-radius: 4px;
	outline: none;
	width: 100%;
}
select {
	height: 32px;
	font-size: 16px;
	width: 175px;
}
textarea:focus {
	outline: none;
}
span[contenteditable="true"] {
	background-color: #3c3c3c;
	border: 1px solid #3c3c3c;
	color: #c8c8c8;
	font-size: 18px;
	border-radius: 4px;
	outline: none;
}
button {
	background-color: #569cd6;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	cursor: pointer;
	border-radius: 4px;
	align-self: flex-end;
}
button:focus {
	outline: none;
}
button:hover {
	background-color: #4080b6;
}
.inline-container {
	display: flex;
	align-items: center;
}

#response-label,
#response-area {
	opacity: 0;
}

.body-loaded #response-label,
.body-loaded #response-area {
	transition: opacity 0.2s ease;
}

#response-label.show-response,
#response-area.show-response {
	opacity: 1;
}

#response-area {
	height: 50%;
}

#user-input {
	height: 20%;
}

.loader {
	margin-right: 10px;
	border: 4px solid #3c3c3c;
	border-top: 4px solid #3498db;
	border-right: 4px solid #3498db;
	border-bottom: 4px solid #3498db;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 1s cubic-bezier(1, 0.5, 0.5, 0.5) infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
